:root {
--main-transparent: #374375;
--brand: #374375;
--bg-main: #BABCE2;
--text: #374375;
--text-contrast: #ffffff;
}
html { height: 100%; }
body {
font-family: "PT Sans", sans-serif;
background-color: var(--bg-main);
color: var(--text);
font-size: 24px;
height: 100%;
}
.brand-text {
color: var(--brand);
}
.link {
font-weight: 400;
color: var(--dark-link);
}
.link__contrast {
justify-content: flex-end;
color: var(--text-contrast);
}
.p {
font-size: 24px;
}
#header {
display: flex;
flex-wrap: wrap;
align-content: stretch;
flex-direction: row;
justify-content: flex-start;
}

.main {
width: 1295px;
height: 720px;
max-width: calc(100% - 32px);
margin: 0 auto;
}
.card {
margin-top: 24px;
border-radius: 71px;
box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
background: rgba(255, 252, 245, 0.27);
padding: 24px;
display: flex;
}
.card-main {
background-color: #FFFCF5;
}
.h1 {
margin-top: 32px;
margin-left: 800px;
font-size: 47px;
}
.card--text {
display: flex;
flex-direction: column;
margin-right: auto;
}

.card--text__p {
max-width: 500px;
}
.nav ul {
display: flex;
justify-content: flex-end;
gap: 32px;
}
.nav {
background-color: var(--brand);
padding: 45px 720px 45px 720px;
font-size: 32px;
}
.logo {
    margin: auto 0;
}